.home-banner-slider{
    position: relative;
}

.home-banner-slider img{
    width: 100%;
}
.slider-content .circle-img{
    position: absolute;
}

.slider-content .slider-text-wrap{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}